/*----------------------------------------------- width 280 -----------------------------------------------*/

@media(min-width:280px){
.w-xs-1{width: 8.33%;}
.w-xs-2{width: 16.66%;}
.w-xs-3{width: 25%;}
.w-xs-4{width: 33.33%;}
.w-xs-5{width: 41.66%;}
.w-xs-6{width: 50%;}
.w-xs-7{width: 58.33%;}
.w-xs-8{width: 66.66%;}
.w-xs-9{width: 75%;}
.w-xs-10{width: 83.33%;}
.w-xs-11{width: 91.66%;}
.w-xs-12{width: 100%;}

/* header-main banner start*/
.header .logo{
    width: 130px;
    padding-left: 20px;
}
.header{
    justify-content: space-between;
}
.header .menu .icon .count{
    border-radius: 50%;
    background-color: #B34204;
    padding: 0px 5px;
    font-size: 13px;
}
.header .menu li{
    display: none;
}
.header .menu .icon i{
    font-size: 15px;
}
.header .menu .fa-bars{
    font-size: 35px !important;
}
.header .menu .icon .fa-magnifying-glass{
    display: none;
}

.main-head{
    max-width: 320px;
    margin-top: 25%;
}
.main-banner{
    height: 70vh;
    background-image: url('/asset/image/coffee-parallax-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.banner-btn button{
    padding: 6px 18px;
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 12px;
    background-color: var(--lighten);
    border: none;
    font-weight: 600;
    transition: all 0.3s linear;
}
.main-banner .line{
    position: absolute;
    bottom: -4px;
}
/* header-main banner end */
/* about section start */
.about .market{
    padding: 0px 15px 0px 15px;
}
.about .market h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 18px;
    font-weight: 700;
}
.about .market h2{
    margin-top: 0px;
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 50px;
    line-height: 1.0;
}
.about .market p{
    font-family: var(--font-kanit);
    color: var(--darken);
    font-size: 20px;
    font-weight: 300;
    margin: 35px 0px;
    line-height: 1.6;
}
.service h3{
    font-family: var(--font-kanit);
    font-size: 18px;
    color: var(--secondary);
    margin: 0px 0px 10px 0px;
}
.service p{
    font-family: var(--font-kanit);
    font-size: 14px;
    color: var(--secondary);
    font-weight: 300;
    line-height: 1.6;
}
/* about section end */

/* product section start */
.product .pro-head span{
    display: none;
}
.product .pro-head h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.product .pro-head h2{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 50px;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    line-height: 1.0;
}
.product .pro-name li{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 16px;
    margin-right: 20px;
    font-weight: 600;
    line-height: 1.7;
}
.product .product-item h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    margin-bottom: 15px;
}
.product .pro-btn{
    padding: 8px 30px;
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--lighten);
    font-weight: 600;
    transition: all 0.3s linear;
    margin-top: 15px;
}
/* product section end */

/* location section start */
.location{
    padding: 60px 15px 60px 15px;
}
.location .loc-content h3{
    font-family: var(--font-kanit);
    font-size: 30px;
    color: var(--secondary);
    line-height: 1.1;
    font-weight: 700;
}
.location .loc-content p{
    font-family: var(--font-kanit);
    font-size: 16px;
    color: var(--secondary);
    font-weight: 300;
    margin-top: 20px;
}
.location .area h5{
    font-family: var(--font-kanit);
    font-size: 24px;
    color: var(--lighten);
    font-weight: 650;
}
.area .cnt li{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.area .cnt li span{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300;
    transition: all 0.5s linear;
}
.area button{
    padding: 8px 30px;
    border: 1px solid var(--lighten);
    font-size: 12px;
    font-family: var(--font-kanit);
    background-color: var(--lighten);
    color: var(--primary);
    margin-top: 25px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.location .loc-img{
    margin-top: 60px;
}
/* location section end */
/* dealer section start */
.dealer .value{
    padding: 0px 15px;
}
.dealer .value h5{
    font-family: var(--font-kanit);
    font-size: 30px;
    color: var(--secondary);
}
.dealer .value h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 90px;
}
.dealer .value h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 30px;
}
.dealer .value .value-mark{
    line-height: 0.9;
}
.dealer .value .cup-img{
    display: none;
}
.dealer .become{
    padding: 0px 15px 0px 15px;
}
.dealer .become h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 30px;
    line-height: 1.1;
    margin-top: 30px;
}
.dealer .become p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
}
.dealer .become .be{
    font-family: var(--font-kanit);
    font-size: 14px;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 8px 30px;
    font-weight: 500;
    transition: all 0.3s linear;
    margin-right: 20px;
}
.dealer .become .us{
    font-family: var(--font-kanit);
    font-size: 14px;
    color: var(--primary);
    background-color: var(--lighten);
    padding: 8px 30px;
    font-weight: 500;
    border: 1px solid var(--lighten);
    transition: all 0.3s linear;
    margin-top: 20px;
}
/* dealer section end */

/* testimonial section start */
.testimonial .test-head h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 16px;
}
.testimonial .test-head h2{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 30px;
}
.testimonial .test-content{
    width: 250px;
    margin-top: 40px;
    padding: 65px 0px 35px 0px;
    border: 8px solid #c0aa83;
}
.testimonial .test-content h3{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 16px;
}
.testimonial .test-content h5{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 14px;
    margin-bottom: 40px;
}
.testimonial .test-content p{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 20px;
    padding: 0px 15px;
    font-weight: 700;
}
/* testimonial section end */
/* company section start */
.company .brand{
    margin: 15px;
}
/* company section end */

/* discount section start */
.discount .offer{
    background-color: #f6f6f6;
    padding: 100px 10px;
}
.discount .disc-img{
    display: none;
}
.discount .offer h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 18px;
}
.discount .offer h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 30px; 
}
.discount .offer .get-btn button{
    font-family: var(--font-kanit);
    color: var(--primary);
    background-color: var(--lighten);
    padding: 8px 40px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    transition: all 0.3s linear;
}
/* discount section end */

/* blog section start */
.blog .blog-head h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.blog .blog-head h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 30px;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}
.blog .blog-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #f4f4f4;
    font-weight: 900;
    position: absolute;
    opacity: 1;
    top: -110px;
    right: 543px;
    z-index: 0;
    display: none;
}
.blog .blog-parts .blogs .blog-content h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 32px;
    margin-bottom: 15px;
    line-height: 1.0;
    transition: all 0.3s linear;
}
.blog .blog-parts .blogs .blog-content p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300;
}
.blog-cal .date h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 30px;
    font-weight: 700px;
    transition: all 0.3s linear;
}
.blog-cal .m-y h6{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    margin-left: 14px;
    font-weight: 300;
}
.blog-cal .m-y span{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    margin-left: 14px;
    font-weight: 300;
}
/* blog section end */

/* footer section start */
.sub-social{
    display: none;
}
.blog .subscribe{
    padding: 50px 15px;
    background-color: var(--lighten);
    position: relative;
    bottom: -120px;
    z-index: 1;
}
.blog .subscribe .sub-type button{
    padding: 12px 34px;
    background-color: var(--secondary);
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 24px;
    margin-left: -2px;
    font-weight: 700;
    border: 1px solid var(--secondary);
    transition: all 0.3s linear;
    margin-top: 20px;

}.blog .subscribe .sub-type button:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
    color: var(--secondary);
    transition: all 0.3s linear;
}
.blog .subscribe .sub-type input{
    font-family: var(--font-kanit);
    color: var(--secondary);
    padding: 18px 25px;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 300;
    width: 250px;
    margin-top: 20px;
}
.footer .footer-content .explore{
    display: none;
}
.footer .top{
    display: none;
}
.footer .theme .theme-btn button{
    font-family: var(--font-kanit);
    color: var(--secondary);
    background-color: var(--lighten);
    padding: 6px 24px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    transition: all 0.3s linear;
}
/* footer section end */
}

/*----------------------------------------------- width 576 -----------------------------------------------*/

@media(min-width:576px){
.w-sm-1{width: 8.33%;}
.w-sm-2{width: 16.66%;}
.w-sm-3{width: 25%;}
.w-sm-4{width: 33.33%;}
.w-sm-5{width: 41.66%;}
.w-sm-6{width: 50%;}
.w-sm-7{width: 58.33%;}
.w-sm-8{width: 66.66%;}
.w-sm-9{width: 75%;}
.w-sm-10{width: 83.33%;}
.w-sm-11{width: 91.66%;}
.w-sm-12{width: 100%;}

/* header-main banner start */

.header .menu li{
    display: none;
}
.header{
    justify-content: space-between;
}
.header .logo{
    width: 180px;
    padding-left: 20px;
}
.main-banner{
    height: 110vh;
    background-image: url('/asset/image/coffee-parallax-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.main-head{
    max-width: 520px;
    margin-top: 25%;
}
.banner-btn button{
    padding: 8px 22px;
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 14px;
    background-color: var(--lighten);
    border: none;
    font-weight: 600;
    transition: all 0.3s linear;
}

/* header-main banner end */
/* about section start */
.about .market h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 20px;
    font-weight: 700;
}
.service h3{
    font-family: var(--font-kanit);
    font-size: 20px;
    color: var(--secondary);
    margin: 0px 0px 10px 0px;
}
/* about section end */
/* product section start */
.product .pro-head h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.product .product-item .item-img{
    margin: 0px 103px;
}
.product .product-item h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 20px;
    margin-bottom: 15px;
}
/* product section end */
/* location section start */
.location .loc-content h3{
    font-family: var(--font-kanit);
    font-size: 36px;
    color: var(--secondary);
    line-height: 1.1;
    font-weight: 700;
}
.area button{
    padding: 10px 32px;
    border: 1px solid var(--lighten);
    font-size: 14px;
    font-family: var(--font-kanit);
    background-color: var(--lighten);
    color: var(--primary);
    margin-top: 25px;
    font-weight: 600;
    transition: all 0.5s linear;
}
/* location section end */
/* dealer section start */
.dealer .value h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 100px;
}
/* dealer section end */
/* testimonial section start */
.testimonial .test-head h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 20px;
}
.testimonial .test-head h2{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 50px;
}
.testimonial .test-content{
    width: 546px;
    margin-top: 40px;
    padding: 65px 15px 35px 15px;
    border: 8px solid #c0aa83;
}
.testimonial .test-content h3{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 16px;
}
.testimonial .test-content p{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 20px;
    padding: 0px 30px;
    font-weight: 700;
}
/* testimonial section end */
/* company section start */
.company .brand{
    margin: 40px;
}
/* company section end */

/* discount section start */
.discount .offer h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 20px;
}
.discount .offer h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 36px; 
}
.discount .offer .get-btn button{
    font-family: var(--font-kanit);
    color: var(--primary);
    background-color: var(--lighten);
    padding: 10px 44px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all 0.3s linear;
}
/* discount section end */
/* blog section start */
.blog .blog-head h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.blog .blog-head h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 50px;
    margin-top: -20px;
    position: relative;
    z-index: 1;
}
.blog .blog-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #f4f4f4;
    font-weight: 900;
    position: absolute;
    opacity: 1;
    top: -110px;
    right: 543px;
    z-index: 0;
    display: none;
}
.blog .blog-parts .blogs .blog-content h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 36px;
    margin-bottom: 15px;
    line-height: 1.0;
    transition: all 0.3s linear;
}
.blog .blog-parts .blogs .blog-content p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300;
}
.blog-cal .date h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 48px;
    font-weight: 700px;
    transition: all 0.3s linear;
}
.blog-cal .m-y h6{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    margin-left: 14px;
    font-weight: 300;
}
.blog-cal .m-y span{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    margin-left: 14px;
    font-weight: 300;
}
/* blog section end */

/* footer section start */
.footer .theme .theme-btn button{
    font-family: var(--font-kanit);
    color: var(--secondary);
    background-color: var(--lighten);
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    transition: all 0.3s linear;
}
.footer .theme{
    text-align: center;
}
/* footer section end */
}
/*----------------------------------------------- width 768 -----------------------------------------------*/

@media(min-width:768px){
.w-md-1{width: 8.33%;}
.w-md-2{width: 16.66%;}
.w-md-3{width: 25%;}
.w-md-4{width: 33.33%;}
.w-md-5{width: 41.66%;}
.w-md-6{width: 50%;}
.w-md-7{width: 58.33%;}
.w-md-8{width: 66.66%;}
.w-md-9{width: 75%;}
.w-md-10{width: 83.33%;}
.w-md-11{width: 91.66%;}
.w-md-12{width: 100%;}

/* header-main banner start */

.header .menu .icon .fa-magnifying-glass{
    display: block;
}

.header .logo{
    width: 220px;
    padding-left: 20px;
}
.main-head{
    max-width: 720px;
    margin-top: 18%;
}
.main-banner{
    height: 120vh;
    background-image: url('/asset/image/coffee-parallax-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.banner-btn button{
    padding: 8px 20px;
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 14px;
    background-color: var(--lighten);
    border: none;
    font-weight: 600;
    transition: all 0.3s linear;
}
.main-banner .line{
    position: absolute;
    bottom: -4px;
}
/* header-main banner end */
/* about section start */
.about .sign{
    margin-bottom: 35px;
}
/* about section end */
/* product section start */
.product .product-item .item-img{
    margin: 0px 190px;
}
/* product section end */

/* location section start */
.area .cnt{
    line-height: 2.2;
}
.area .cnt li{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.location .loc-img{
    margin-top: 80px;
}
/* location section end */
/* dealer section start */
.dealer .value h5{
    font-family: var(--font-kanit);
    font-size: 36px;
    color: var(--secondary);
}
.dealer .value h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 120px;
}
.dealer .value h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 36px;
}
.dealer .become h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 36px;
    line-height: 1.1;
    margin-top: 30px;
}
.dealer .become p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
}

/* dealer section end */
/* testimonial section start */
.testimonial .test-content{
    width: 720px;
    margin-top: 40px;
    padding: 65px 15px 35px 15px;
    border: 8px solid #c0aa83;
}
/* testimonial section end */
/* company section start */
.company .brand{
    margin: 10px 40px;
}

/* company section end */

/* discount section start */
.discount .offer p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300; 
    margin-bottom: 30px;
    padding: 0px 130px;
}
/* discount section end */

/* blog section start */
.blog .blog-parts .hide{
    display: none;
}
/* blog section end */

/* footer section start */
.blog .subscribe .sub-head{
    line-height: 0.9;
    text-align: center;
}
.blog .subscribe .sub-type{
    margin-left: 150px;
}

/* footer section end */
}
/*----------------------------------------------- width 992 -----------------------------------------------*/

@media(min-width:992px){
.w-lg-1{width: 8.33%;}
.w-lg-2{width: 16.66%;}
.w-lg-3{width: 25%;}
.w-lg-4{width: 33.33%;}
.w-lg-5{width: 41.66%;}
.w-lg-6{width: 50%;}
.w-lg-7{width: 58.33%;}
.w-lg-8{width: 66.66%;}
.w-lg-9{width: 75%;}
.w-lg-10{width: 83.33%;}
.w-lg-11{width: 91.66%;}
.w-lg-12{width: 100%;}

/* header-main banner start */
.header .logo{
    width: 210px;
    padding-left: 20px;
}
.header .menu .icon .count{
    border-radius: 50%;
    background-color: #B34204;
    padding: 0px 7px;
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 16px;
}
.header .menu .icon i{
    font-size: 18px;
}
.header .menu .fa-bars{
    font-size: 40px !important;
}
.main-head{
    max-width: 950px;
    margin-top: 20%;
}
.main-banner{
    height: 150vh;
    background-image: url('/asset/image/coffee-parallax-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.banner-btn button{
    padding: 12px 24px;
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 18px;
    background-color: var(--lighten);
    border: none;
    font-weight: 600;
    transition: all 0.3s linear;
}
.main-banner .line{
    position: absolute;
    bottom: -4px;
}
/* header-main banner end */
/* about section start */
.about .market h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
    font-weight: 700;
}
.about .market h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
    padding: 0px 100px 0px 0px;
}
.about .market p{
    font-family: var(--font-kanit);
    color: var(--darken);
    font-size: 24px;
    font-weight: 300;
    margin: 35px 65px 0px 0px;
}
.service h3{
    font-family: var(--font-kanit);
    font-size:24px;
    color: var(--secondary);
    margin: 0px 0px 10px 0px;
}
/* about section end */
/* product section start */
.product .pro-head h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.product .pro-head h2{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 60px;
    position: relative;
    z-index: 1;
}
.product .pro-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #2f2f2f;
    font-weight: 900;
    position: absolute;
    opacity: 0.8;
    top: -115px;
    left: 54px;
    z-index: 0;
    display: block;
}
.product .pro-name li{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 18px;
    margin-right: 20px;
}
.product .product-item .item-img{
    margin: 0px 57px;
}
.product .product-item h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 24px;
    margin-bottom: 15px;
}
/* product section end */

/* location section start */
.location{
    padding: 100px 15px 100px 15px;
}
.location .loc-content h3{
    font-family: var(--font-kanit);
    font-size: 60px;
    color: var(--secondary);
    line-height: 1.1;
    font-weight: 700;
}
.location .loc-content p{
    font-family: var(--font-kanit);
    font-size: 18px;
    color: var(--secondary);
    font-weight: 300;
    margin-top: 20px;
}
.location .area h5{
    font-family: var(--font-kanit);
    font-size: 30px;
    color: var(--lighten);
    font-weight: 650;
}
.area .cnt li{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.area .cnt li span{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 300;
    transition: all 0.5s linear;
}
.area button{
    padding: 12px 36px;
    border: 1px solid var(--lighten);
    font-size: 16px;
    font-family: var(--font-kanit);
    background-color: var(--lighten);
    color: var(--primary);
    margin-top: 25px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.location .loc-img{
    margin-top: 100px;
}
/* location section end */
/* dealer section start */
.dealer .value h5{
    font-family: var(--font-kanit);
    font-size: 36px;
    color: var(--secondary);
}
.dealer .value h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 120px;
}
.dealer .value h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
}
.dealer .become h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
    line-height: 1.1;
    margin-top: 30px;
}
.dealer .become p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
}
.dealer .value .cup-img{
    display: block;
    padding-left: 100px;
}
.dealer .become .be{
    font-family: var(--font-kanit);
    font-size: 16px;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 12px 36px;
    font-weight: 500;
    transition: all 0.3s linear;
    margin-right: 20px;
}
.dealer .become .us{
    font-family: var(--font-kanit);
    font-size: 16px;
    color: var(--primary);
    background-color: var(--lighten);
    padding: 12px 36px;
    font-weight: 500;
    border: 1px solid var(--lighten);
    transition: all 0.3s linear;
}
/* dealer section end */
/* testimonial section start */
.testimonial .test-head h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
}
.testimonial .test-head h2{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 60px;
}
.testimonial .test-content{
    width: 920px;
    margin-top: 40px;
    padding: 65px 15px 35px 15px;
    border: 8px solid #c0aa83;
}
.testimonial .test-content h3{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 18px;
}
.testimonial .test-content h5{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 14px;
    margin-bottom: 40px;
}
.testimonial .test-content p{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 24px;
    padding: 0px 60px;
    font-weight: 700;
}
/* testimonial section end */
/* company section start */
.company .brand{
    margin: 10px 20px;
}
/* company section end */

/* discount section start */
.discount .offer h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
}
.discount .offer h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px; 
}
.discount .offer p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300; 
    margin-bottom: 30px;
}
.discount .offer .get-btn button{
    font-family: var(--font-kanit);
    color: var(--primary);
    background-color: var(--lighten);
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s linear;
}
/* discount section end */

/* blog section start */
.blog .blog-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #f4f4f4;
    font-weight: 900;
    position: absolute;
    opacity: 1;
    top: -130px;
    right: 275px;
    z-index: 0;
    display: block;
}
/* blog section end */

/* footer section start */
.footer .footer-content .explore{
    display: block;
}
.footer .top{
    display: block;
}
.blog .subscribe{
    padding: 50px 15px;
    background-color: var(--lighten);
    position: relative;
    bottom: -120px;
    z-index: 1;
}
.blog .subscribe .sub-type button{
    padding: 12px 34px;
    background-color: var(--secondary);
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 24px;
    margin-left: -2px;
    font-weight: 700;
    border: 1px solid var(--secondary);
    transition: all 0.3s linear;
    margin-top: 0px;

}.blog .subscribe .sub-type button:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
    color: var(--secondary);
    transition: all 0.3s linear;
}
.blog .subscribe .sub-type input{
    font-family: var(--font-kanit);
    color: var(--secondary);
    padding: 18px 25px;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 300;
    width: 280px;
    margin-top: 0px;
}
.blog .subscribe .sub-head{
    line-height: 0.9;
}
.blog .subscribe .sub-type{
    margin-left: 0px;
}
/* footer section end */
}

/*----------------------------------------------- width 1200 -----------------------------------------------*/

@media(min-width:1200px){
.w-xl-1{width: 8.33%;}
.w-xl-2{width: 16.66%;}
.w-xl-3{width: 25%;}
.w-xl-4{width: 33.33%;}
.w-xl-5{width: 41.66%;}
.w-xl-6{width: 50%;}
.w-xl-7{width: 58.33%;}
.w-xl-8{width: 66.66%;}
.w-xl-9{width: 75%;}
.w-xl-10{width: 83.33%;}
.w-xl-11{width: 91.66%;}
.w-xl-12{width: 100%;}
/* header-main banner start */
.header .menu li{
    display: block;
}

.header .menu .icon i{
    font-size: 20px;
}
.header .menu .icon .count{
    font-size: 14px;
}
.header .menu .fa-bars{
    display: none;
}
.main-head{
    max-width: 1120px;
    margin-top: 15%;
}
.main-banner{
    height: 130vh;
    background-image: url('/asset/image/coffee-parallax-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-attachment: fixed;
}
.banner-btn button{
    padding: 12px 24px;
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 18px;
    background-color: var(--lighten);
    border: none;
    font-weight: 600;
    transition: all 0.3s linear;
}
.main-banner .line{
    position: absolute;
    bottom: -5px;
}
/* header-main banner end */

/* about section start */

/* about section end */

/* product section start */
.product .pro-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #2f2f2f;
    font-weight: 900;
    position: absolute;
    opacity: 0.8;
    top: -115px;
    left: 160px;
    z-index: 0;
    display: block;
}
.product .product-item .item-img{
    margin: 0px 115px;
}
.product .pro-btn{
    padding: 12px 36px;
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--lighten);
    font-weight: 600;
    transition: all 0.3s linear;
    margin-top: 15px;
}
/* product section end */
/* location section start */
.location .loc-content p{
    font-family: var(--font-kanit);
    font-size: 16px;
    color: var(--secondary);
    font-weight: 300;
    margin-top: 20px;
}
/* location section end */
/* dealer section start */
.dealer .value .cup-img{
    display: block;
    padding-left: 50px;
}
/* dealer section end */
/* testimonial section start */
.testimonial .test-content{
    width: 1080px;
    margin-top: 40px;
    padding: 65px 65px 35px 65px;
    border: 8px solid #c0aa83;
}
/* testimonial section end */
/* company section start */
.company{
    padding: 50px 30px;
}
.company .brand{
    margin: 0px 10px;
    width: 150px;
}
/* company section end */

/* discount section start */
.discount .disc-img{
    display: block;
}
.discount .offer{
    background-color: #f6f6f6;
    padding: 56px 20px;
}
.discount .offer .space{
    line-height: 1.2;
    margin-bottom: 60px;
}
.discount .offer h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
}
.discount .offer h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px; 
}
.discount .offer p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300; 
    margin-bottom: 30px;
    padding: 0px 110px;
}
.discount .offer .card-img{
    margin-bottom: 30px;
}
.discount .offer .get-btn button{
    font-family: var(--font-kanit);
    color: var(--primary);
    background-color: var(--lighten);
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s linear;
}
.discount .offer .get-btn button:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    font-weight: 600;
    transition: all 0.3s linear;
}
.discount .disc-img img{
    max-width: 100%;
}
/* discount section end */

/* blog section start */
.blog .blog-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #f4f4f4;
    font-weight: 900;
    position: absolute;
    opacity: 1;
    top: -130px;
    right: 385px;
    z-index: 0;
    display: block;
}
.blog .blog-parts .hide{
    display: block;
}
/* blog section end */

/* footer section start */
.sub-social{
    display: block;
}
.subscribe .sub-head{
    text-align: left;
}
.blog .subscribe .sub-type input{
    font-family: var(--font-kanit);
    color: var(--secondary);
    padding: 18px 25px;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 300;
    width: 282px;
    margin-top: 0px;
}

/* footer section end */
}

/*----------------------------------------------- width 1400 -----------------------------------------------*/

@media(min-width:1400px){
.w-xxl-1{width: 8.33%;}
.w-xxl-2{width: 16.66%;}
.w-xxl-3{width: 25%;}
.w-xxl-4{width: 33.33%;}
.w-xxl-5{width: 41.66%;}
.w-xxl-6{width: 50%;}
.w-xxl-7{width: 58.33%;}
.w-xxl-8{width: 66.66%;}
.w-xxl-9{width: 75%;}
.w-xxl-10{width: 83.33%;}
.w-xxl-11{width: 91.66%;}
.w-xxl-12{width: 100%;}
/* header-main banner start */
.header{
    justify-content: space-around;
}
.header{
    padding: 20px 0px;
}

.header .logo{
    width: 220px;
}
.header .menu .icon .count{
    border-radius: 50%;
    background-color: #B34204;
    padding: 0px 6px;
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 14px;
}
.header .menu i{
    font-size: 18px;
    color: var(--primary);
    transition: all 0.3s linear;
    margin-right: 25px;
}
.main-head{
    max-width: 1220px;
    margin-top: 12%;
}
.main-banner{
    height: 110vh;
    background-image: url('/asset/image/coffee-parallax-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center top;
    background-attachment: fixed;
}
.main-banner .line{
    position: absolute;
    bottom: -6px;
}
.banner-btn button{
    padding: 12px 36px;
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 16px;
    background-color: var(--lighten);
    border: none;
    font-weight: 600;
    transition: all 0.3s linear;
}
/* header-main banner end */
/* about section start */
.container{
    max-width: 1520px;
}
.about .bg-img{
    background-image: url('/asset/image/about-bg.png');
    background-repeat: no-repeat;
    background-position: center left;
}
.about .market{
    padding: 0px 50px 0px 30px;
}
.about{
    padding: 50px 0px 120px 0px;
}
.about .market h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
    font-weight: 700;
}
.about .market h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
}
.about .market p{
    font-family: var(--font-kanit);
    color: var(--darken);
    font-size: 24px;
    font-weight: 300;
    margin: 35px 0px;
}
.about .sign{
    margin-top: 20px;
}
.service .abt-img{
    padding: 15px;
}
.service h3{
    font-family: var(--font-kanit);
    font-size:24px;
    color: var(--secondary);
    margin: 0px 0px 10px 0px;
}
.service p{
    font-family: var(--font-kanit);
    font-size: 14px;
    color: var(--secondary);
    font-weight: 300;
}
/* about section end */

/* product section start */

.product .product-item .item-img{
    margin: 0px 0px;
}
.product .pro-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #2f2f2f;
    font-weight: 900;
    position: absolute;
    opacity: 0.8;
    top: -105px;
    left: 321px;
    z-index: 0;
}
.product .pro-btn{
    padding: 12px 36px;
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--lighten);
    font-weight: 600;
    transition: all 0.3s linear;
    margin-top: 15px;
}
/* product section end */

/* location section start */
.location{
    padding: 110px 30px 50px 30px;
}

.location .loc-content h3{
    font-family: var(--font-kanit);
    font-size: 60px;
    color: var(--secondary);
}
.location .loc-content p{
    font-family: var(--font-kanit);
    font-size: 18px;
    color: var(--secondary);
    font-weight: 300;
}
.location .area h5{
    font-family: var(--font-kanit);
    font-size: 30px;
    color: var(--lighten);
    font-weight: 600;
}
.area{
    margin-top: 40px;
}
.area .cnt{
    line-height: 2.2;
}
.area .cnt li{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.area .cnt li:hover{
    color: var(--lighten);
    cursor: pointer;
    transition: all 0.5s linear;
}
.area .cnt li:hover span{
    color: var(--lighten);
    transition: all 0.5s linear;
}
.area .cnt li span{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 300;
    transition: all 0.5s linear;
}
.area .cnt li i{
    font-size: 13px;
    margin-right: 7px;
}
.area button{
    padding: 12px 36px;
    border: 1px solid var(--lighten);
    font-size: 16px;
    font-family: var(--font-kanit);
    background-color: var(--lighten);
    color: var(--primary);
    margin-top: 25px;
    font-weight: 600;
    transition: all 0.5s linear;
}
.area button:hover{
    border: 1px solid var(--darken);
    font-size: 16px;
    font-family: var(--font-kanit);
    background-color: transparent;
    color: var(--secondary);
    margin-top: 25px;
    transition: all 0.5s linear;
    cursor: pointer;
}

/* location section end */
/* dealer section start */
.dealer .value h5{
    font-family: var(--font-kanit);
    font-size: 30px;
    color: var(--secondary);
}
.dealer .value h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 120px;
}
.dealer .value h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
}
.dealer .value .value-mark{
    line-height: 0.9;
}
.dealer .become{
    padding: 0px 0px 0px 20px;
}
.dealer .become h3{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
}
.dealer .become p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 300;
}
.dealer .become .dealer-btn{
    margin-top: 40px;
}
.dealer .become .be{
    font-family: var(--font-kanit);
    font-size: 16px;
    color: var(--primary);
    background-color: var(--secondary);
    padding: 12px 36px;
    font-weight: 500;
    transition: all 0.3s linear;
    margin-right: 20px;
}
.dealer .become .be:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    transition: all 0.3s linear;
    cursor: pointer;
}
.dealer .become .us{
    font-family: var(--font-kanit);
    font-size: 16px;
    color: var(--primary);
    background-color: var(--lighten);
    padding: 12px 36px;
    font-weight: 500;
    border: 1px solid var(--lighten);
    transition: all 0.3s linear;
}
.dealer .become .us:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    transition: all 0.3s linear;
    cursor: pointer;
}
.dealer .value .cup-img{
    display: block;
    padding-left: 0px;
}
/* dealer section end */
/* testimonial section start */
.testimonial .test-content{
    width: 1260px;
    margin-top: 40px;
    padding: 65px 65px 35px 65px;
    border: 8px solid #c0aa83;
}
/* testimonial section end */

/* company section start */

.company{
    padding: 50px 0px 50px 100px;
}
.company .brand{
    margin: 0px 0px;
}
/* company section end */

/* discount section start */
.discount .offer{
    background-color: #f6f6f6;
    padding: 147px 120px;
}
.discount .offer .space{
    line-height: 1.2;
    margin-bottom: 60px;
}
.discount .offer h5{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
}
.discount .offer h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px; 
}
.discount .offer p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    font-weight: 300; 
    margin-bottom: 30px;
    padding: 0px 30px;
}
.discount .offer .card-img{
    margin-bottom: 30px;
}
.discount .offer .get-btn button{
    font-family: var(--font-kanit);
    color: var(--primary);
    background-color: var(--lighten);
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s linear;
}
.discount .offer .get-btn button:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    font-weight: 600;
    transition: all 0.3s linear;
}
.discount .disc-img img{
    max-width: 100%;
}
/* discount section end */

/* blog section start */
.blog{
    padding: 120px 0px 40px 0px;
}
.blog-head{
    position: relative;
}
.blog .blog-head h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.blog .blog-head h2{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 60px;
    margin-top: -20px;
    position: relative;
    z-index: 1;
}
.blog .blog-head span{
    font-family: var(--font-kanit);
    font-size: 200px;
    color: #f4f4f4;
    font-weight: 900;
    position: absolute;
    opacity: 1;
    top: -110px;
    right: 543px;
    z-index: 0;
}
.blog .blog-parts{
    padding: 40px 0px;
}
.blog .blog-parts .blogs .blog-img{
    overflow: hidden;
}
.blog .blog-parts .blogs .blog-img img{
    scale: 1.0;
    transition: all 0.3s linear;
    display: block;
}
.blog .blog-parts .blogs:hover .blog-img img{
    scale: 1.1;
    transition: all 0.3s linear;
}
.blog .blog-parts .blogs .blog-content{
    padding-top: 40px;
}
.blog .blog-parts .blogs .blog-content h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 36px;
    margin-bottom: 15px;
    transition: all 0.3s linear;
}
.blog .blog-parts .blogs .blog-content h2:hover{
    color: var(--secondary);
    transition: all 0.3s linear;
}
.blog .blog-parts .blogs .blog-content p{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 18px;
    font-weight: 300;
}
.blog .blog-parts .blogs .blog-cal{
    padding: 0px 20px;
    margin-top: 35px;
    background-color: #f6f6f6;
}
.blog-cal .date h2{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 48px;
    font-weight: 700px;
    transition: all 0.3s linear;
}
.blog-cal:hover .date h2{
    color: var(--secondary);
    transition: all 0.3s linear;
}
.blog-cal .m-y{
    line-height: 1;
}
.blog-cal .m-y h6{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    margin-left: 14px;
    font-weight: 300;
}
.blog-cal .m-y span{
    font-family: var(--font-kanit);
    color: var(--secondary);
    font-size: 16px;
    margin-left: 14px;
    font-weight: 300;
}
.blog-cal li{
    color: var(--secondary);
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;
}
.blog-cal li i{
    color: var(--secondary);
    margin-right: 5px;
    font-size: 16px;
}
.blog .blog-btn{
    padding: 12px 36px;
    background-color: transparent;
    border: 1px solid var(--lighten);
    color: var(--lighten);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s linear;
}
.blog .blog-btn:hover{
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--secondary);
    transition: all 0.3s linear;
    cursor: pointer;
}
/* blog section end */

/* footer section start */
.blog .subscribe{
    padding: 50px 120px;
    background-color: var(--lighten);
    position: relative;
    bottom: -120px;
    z-index: 1;
}

.blog .subscribe .sub-head{
    line-height: 0.9;
    text-align: left;
}
.blog .subscribe .sub-head h3{
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 36px;
}
.blog .subscribe .sub-head h4{
    color: var(--secondary);
    font-family: var(--font-kanit);
    font-size: 36px;
    text-align: left;
}
.blog .subscribe .sub-type button{
    padding: 12px 34px;
    background-color: var(--secondary);
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 24px;
    margin-left: -2px;
    font-weight: 700;
    border: 1px solid var(--secondary);
    transition: all 0.3s linear;

}.blog .subscribe .sub-type button:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    cursor: pointer;
    color: var(--secondary);
    transition: all 0.3s linear;
}
.blog .subscribe .sub-type input{
    font-family: var(--font-kanit);
    color: var(--secondary);
    padding: 18px 25px;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 300;
    width: 240px;
}
.blog .subscribe .sub-social li{
    background-color: var(--lighten);
    color: var(--secondary);
    padding: 14px 18px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0.3);
    font-size: 18px;
}
.footer{
    background-image: url('/asset/image/footer_map.png');
    background-repeat: no-repeat;
    background-color: #242424;
    background-position: center center;
    padding: 160px 0px 130px 0px;
    position: relative;
}
.footer .theme .foot-img{
    margin-bottom: 30px;
}
.footer .theme p{
    font-family: var(--font-kanit);
    color: rgba(255,255,255, .5);
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 35px;
}
.footer .theme .theme-btn button{
    font-family: var(--font-kanit);
    color: var(--secondary);
    background-color: var(--lighten);
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition: all 0.3s linear;
}
.footer .theme .theme-btn button:hover{
    color: var(--secondary);
    background-color: var(--primary);
    transition: all 0.3s linear;
}
.footer .explore h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 30px;
    margin-bottom: 60px;
}
.footer .explore ul li{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 700;
}
.footer .explore ul li i{
    color: var(--lighten);
    font-size: 12px;
    margin-right: 10px;
    transition: all 0.3s linear;
}
.footer .explore ul li:hover{  
    color: var(--lighten);
    cursor: pointer;
    transition: all 0.3s linear;
}
.footer .explore .menus{
    padding: 0px;
}

.footer .contact-us h4{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 30px;
    margin-bottom: 60px;
}
.footer .contact-us ul li{
    color: var(--primary);
    font-family: var(--font-kanit);
    font-size: 18px;
    padding-bottom: 10px;
}
.footer .contact-us ul li i{
    color: var(--lighten);
    font-size: 14px;
    margin-right: 10px;
}
.footer .contact-us .white{
    color: rgba(255,255,255, 0.5);
}
.footer .copy-right{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 25px 0px;
}
.footer .copy-right p{
    font-family: var(--font-kanit);
    color: var(--primary);
    font-size: 14px;
    font-weight: 300;
}
.footer .copy-right p span{
    font-family: var(--font-kanit);
    color: var(--lighten);
    font-size: 14px;
    font-weight: 300;
}
.footer .top{
    background-color: var(--lighten);
    padding: 8px 13px 5px;
    border: none;
    position: absolute;
    bottom: 12px;
    right: 125px;
}
.footer .top:hover{
    background-color: var(--primary);
    cursor: pointer;
    
}
.footer .top i{
    color: var(--secondary);
    font-weight: 800;
}
.footer .top h6{
    font-family: var(--font-kanit);
    font-size: 12px;
    font-weight: 600;
}
.blog .subscribe .sub-type{
    margin-left: 0px;
}
.blog .subscribe .sub-type input{
    font-family: var(--font-kanit);
    color: var(--secondary);
    padding: 18px 25px;
    font-size: 18px;
    font-weight: 300;
    width: 282px;
    margin-top: 0px;
}
/* footer section end */
}